.div-item-dangkykhambenh {
    text-align: center;
    background-color: #F4F5F6;
    margin: 15px 15px 15px 0px;
    padding: 15px 3px 10px 3px;
    border-radius: 5px;
    cursor: pointer;
}

.lable-DangKyKhamBenh {
    font-weight: 400;
    font-size: 16px;
}

.div-item-dangkykhambenh:active {
    color: blue;
    background-color: #D6D9DC;
}